/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */


header {
  background-image: url('https://via.placeholder.com/1150');
  object-fit: contain;
}

.card.podracer img,
#leaderBoard img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.card.track {
  display: block;
  text-align: center;
  width: 20%;
}

.card.track h3 {
  height: 50%;
}

.button {
  object-position: center;
}

ul {
  text-align: center;
  margin: 10px;
}

section#accelerate button:active {
  height: 300px;
  width: 300px;
  margin: 30px auto;
  border-radius: 180%;
  border-color: rgb(240, 224, 6);
  cursor: pointer;
}


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {}